.*
*.orig
*.bat
*.sh
!.babelrc
!.gitignore
dev_config.js
*.log
node_modules
bower_components
dist
bundles
arm_windows/thor
arm_windows/config.js
client/webpack
client/*/webpack/
client/*/config.js
client/*/package_fullscreen.json
client/*/package_window.json